@import "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";
@import "mixins";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }

  
}

::-webkit-scrollbar {
  width: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--black);
  color: var(--black);
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: -0.021em;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 140%;
  }
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

/* Vendors */



/* Blocks */

@import './blocks/menu.scss';
@import './blocks/swiper.scss';
@import './blocks/main.scss';
@import './blocks/menuPage.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/datepicker.scss';
@import './blocks/timepicker.scss';
@import './blocks/airdatepicker.scss';





.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  padding-right: 14rem;
  padding-left: 14rem;
  @include breakpoint($xl-bp) {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  @include breakpoint($sm-bp) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.h1,h1 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 17rem;
  line-height: 25.2rem;
  /* identical to box height */
  
  letter-spacing: -0.05em;
  text-transform: uppercase;
  @include breakpoint($xl-bp) {
    font-size: 6rem;
    line-height: 8.9rem;
  }
}

.h2,h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 120%;
  /* identical to box height, or 72px */
  
  letter-spacing: -0.05em;
  text-transform: uppercase;
  @include breakpoint($xl-bp) {
    font-size: 4.2rem;
  }
}

.h3,h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  /* identical to box height */
  
  letter-spacing: -0.05em;
  text-transform: uppercase;
  @include breakpoint($xl-bp) {
    font-size: 2.4rem;
    line-height: 120%;
  }
}

.h4,h4 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  /* identical to box height */
  
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.page-button {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.5rem;
  /* identical to box height */
  
  
  /* 3 */
  
  color: var(--white);
  padding: 1.1rem 3.1rem;
  border: 0.2rem solid var(--white);
  border-radius: 5rem;
  display: inline-block;
  text-align: center;

  transition: .3s color, .3s background-color;
  &:hover {
    background-color: var(--white);
    color: var(--black);
  }
  @include breakpoint($sm-bp) {
    width: 100%;
  }
}

.no-scroll {
  overflow: hidden;
}

.activeBreadCrumbs {
  color: #FFFFFF !important;
  opacity: 1 !important;
}

.hidden {
  display: none;
}