.header {
  position: fixed;
  width: 100%;
  transition: transform .3s;
  will-change: transform;
  top: 0;
  z-index: 20;
  @include breakpoint($xl-bp) {
    width: 100%;
  }
  nav {
    ul {
      li.active {
        color: var(--lblue);
      }
    }
  }
  .header__inner {
    padding-top: 5.6rem;
    padding-bottom: 4.5rem;
    transition: background-color .3s;
    @include breakpoint($xl-bp) {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.out {
  transform: translate3d(0, calc(-100% - 1rem), 0);
}


.header--active {
  .header__inner {
      background-color: var(--black);
  }
}

.header--menu {
  @include breakpoint($xl-bp) {
    height: 100%;
    .header-text {
      fill: var(--black);
    }
  }

}

.hv-undrl {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0.3rem;
    left: 0;
    width: 0;
    height: 0.1rem;
    background-color: var(--black);
    transition: width .3s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
.hv-undrl.active {
  &::after {
    width: 100%;
  }
}


.hv-undrl--white {
  &::after {
    background-color: var(--white);
  }
}

.logo {
  padding: 1rem 2.3rem;
  background-color: var(--white);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 16rem;
  height: 16rem;
  @include breakpoint($xl-bp) {
    width: 6.9rem;
    height: 7.5rem;
    border-radius: 0px 0px 0.43rem 0.43rem;
    padding: 0.43rem 1rem;
    z-index: 1;
  }
}



.img-contain {
  &:focus {
    outline: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.img-cover {
  &:focus {
    outline: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

  a img  
  {  
  border: none;  
  }  