.gallery-swiper {
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
  .swiper-slide {
    height: 44rem;
  }
  .--wider {
    grid-column: 2 span;
  }
}