<footer class="footer mt-200 xl:mt-100 container">
  <h2 class="h1 xl:text-70 text-white opacity-40 text-center">Chelsea Gastropub</h2>

  <div class="footer-mid mt-80 xl:mt-30">

    <div class="logo img-contain absolute top-0 left-50% -translate-x-50%">
      <img src="./assets/images/logo/logo.jpg" alt="logo">
    </div>

    <div class="grid grid-cols-[24rem_24rem] xl:grid-cols-2 sm:grid-cols-1 xl:gap-40 justify-between">
      <ul class="text-white">
        <li><a class="h3  xl:h4-mob hv-undrl hv-undrl--white" href="#">Контакты<a></li>
        <li>
          <ul class="mt-40 sm:mt-20 space-y-16 sm:space-y-12">
            <li><a href="tel:+79959002190" class="hv-undrl hv-undrl--white">+7 995 900-21-90</a></li>
            <li>Малый Гнездниковский пер. 12/27</li>
            <li><a href="mailto:pub.chelsea@mail.ru" class="hv-undrl hv-undrl--white">pub.chelsea@mail.ru</a></li>
          </ul>
        </li>
      </ul>
  
  
      <nav>
        <ul class="text-white">
          <li><a class="h3  xl:h4-mob hv-undrl hv-undrl--white" href="#">о нас<a></li>
          <li>
            <ul class="mt-40 sm:mt-20 space-y-16 sm:space-y-12">
              <li><a href="#" class="hv-undrl hv-undrl--white">Вакансии</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Журнал</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Карта сайта</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Политика конфиденциальности</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>


    <div class="grid grid-cols-[24rem_24rem] xl:grid-cols-2 sm:grid-cols-1 xl:gap-40 justify-between">
      <nav>
        <ul class="text-white">
          <li><a class="h3  xl:h4-mob hv-undrl hv-undrl--white" href="#">меню<a></li>
          <li>
            <ul class="mt-40 sm:mt-20 space-y-16 sm:space-y-12">
              <li><a href="#" class="hv-undrl hv-undrl--white">Гриль бар</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Стейк бар</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Супы</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Горячие блюда</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Бизнес-ланч</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Барное меню</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Виски-бар</a></li>
            </ul>
          </li>
        </ul>
      </nav>
  
      <nav>
        <ul class="text-white">
          <li><a class="h3  xl:h4-mob hv-undrl hv-undrl--white" href="#">услуги<a></li>
          <li>
            <ul class="mt-40 sm:mt-20 space-y-16 sm:space-y-12">
              <li><a href="#" class="hv-undrl hv-undrl--white">Корпоратив</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">День рождения</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Банкет</a></li>
              <li><a href="#" class="hv-undrl hv-undrl--white">Спортивные трансляции</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="footer-bot flex justify-between xl:items-center xl:flex-col xl:gap-20 text-white py-20">
    <div class="text-18 leading-25 opacity-40 xl:text-center brnone xl:brblock">© 2013 – 2022, <br>Гастропаб Челси<br>ИНН 7706289027<br>КПП 771001001</div>
    <a href="https://bydesign.by/" class="text-18 leading-25 opacity-40">Разработка сайта Студия ЯР</a>
  </div>

</footer>