<header class="header z-10">
  
    <div class="header__inner container">

      {{> menu}}

      
      <div class="logo img-contain absolute top-0 left-50% -translate-x-50% xl:relative xl:left-0 xl:translate-x-0">
        <img src="./assets/images/logo/logo.jpg" alt="logo">
      </div>
      
    
      <button class="menu-button">
        <span class="menu-button-wrapper">
          <span class="burger-button-close">
            <span id="first-line-burger"></span>
            <span id="second-line-burger"></span>
            <span id="third-line-burger"></span>
          </span>
        </span>
      </button>
    </div>
</header>

<div class="h-160 w-full xl:h-69"></div>