
<section class="mt-200 xl:mt-100 container xl:!px-0">
  <div class="p-140 xl:px-20 xl:py-50 bg-dblue rounded-10 xl:rounded-none">
    <div class="flex justify-between items-center pb-21 xl:pb-12 full-border">
      <h2 class="h3 xl:h4-mob text-white">Наши хиты</h2>
      <a href="#" class="h3 xl:h4-mob text-white plus">Полное Меню</a>
    </div>

    <div class="hit relative mt-80 xl:mt-30">
      <div class="swiper hit-swiper hit-two-column">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a data-fancybox href="./assets/images/hits/hits-1.jpg" class="img-cover rounded-10 overflow-hidden xl:w-[26rem] h-[55rem] xl:h-[27.5rem]">
              <img src="./assets/images/hits/hits-1.jpg" alt="hits">
            </a>
            <div class="text-white flex flex-col justify-between">
              <div class="space-y-31 xl:space-y-10 xl:flex xl:flex-col xl:items-center">
                <h3 class="h2">Tower set</h3>
                <div class="opacity-40 xl:text-18 xl:leading-25">0,8-0,9 кг</div>
                <div class="xl:text-center">Состав: Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
                  Voluptate
                  exercitation incididunt aliquip deserunt reprehenderit elit laborum.</div>
              </div>
              <div class="mt-20">
                <div class="flex gap-20 items-baseline xl:justify-between">
                  <div class="h3 xl:text-20 xl:leading-30">2100 ₽</div>
                  <div class="opacity-40 xl:text-18 xl:leading-25">/ порция</div>
                  <div class="opacity-40 xl:text-18 xl:leading-25">/ 2 персоны</div>
                </div>
                <button data-modal="#modal" class="page-button mt-40 xl:mt-20">Предзаказ</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <a data-fancybox href="./assets/images/hits/hits-1.jpg" class="img-cover rounded-10 overflow-hidden xl:w-[26rem] h-[55rem] xl:h-[27.5rem]">
              <img src="./assets/images/hits/hits-1.jpg" alt="hits">
            </a>
            <div class="text-white flex flex-col justify-between">
              <div class="space-y-31 xl:space-y-10 xl:flex xl:flex-col xl:items-center">
                <h3 class="h2">Tower set</h3>
                <div class="opacity-40 xl:text-18 xl:leading-25">0,8-0,9 кг</div>
                <div class="xl:text-center">Состав: Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
                  Voluptate
                  exercitation incididunt aliquip deserunt reprehenderit elit laborum.</div>
              </div>
              <div class="mt-20">
                <div class="flex gap-20 items-baseline xl:justify-between">
                  <div class="h3 xl:text-20 xl:leading-30">2100 ₽</div>
                  <div class="opacity-40 xl:text-18 xl:leading-25">/ порция</div>
                  <div class="opacity-40 xl:text-18 xl:leading-25">/ 2 персоны</div>
                </div>
                <button data-modal="#modal" class="page-button mt-40 xl:mt-20">Предзаказ</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="absolute top-50% xl:top-137 -translate-y-50% -right-100 xl:right-0 z-10 next">
        <svg class="fill-white w-19 h-34">
          <use href='#arrowr'></use>
        </svg>
      </button>
      <button class="absolute top-50% xl:top-137 -translate-y-50% -left-100 xl:left-0 z-10 prev">
        <svg class="fill-white w-19 h-34">
          <use href='#arrowl'></use>
        </svg>
      </button>

    </div>

  </div>
</section>