<div class="menu">
  <nav>
    <ul class="h3 xl:text-20 xl:leading-30 text-white topmenu">
      <li><a href="#" class="hv-undrl hv-undrl--white active">Главная</a></li>
      <li>
        <span class="plus --about"><span class="plus-inner">О нас</span></span>
        <div class="submenu --about">
          <ul>
            <li><a href="#" class="hv-undrl hv-undrl--white">О пабе</a></li>
            <li><a href="#" class="hv-undrl hv-undrl--white">События</a></li>
            <li><a href="#" class="hv-undrl hv-undrl--white">Акции</a></li>
            <li><a href="#" class="hv-undrl hv-undrl--white">услуги</a></li>
            <li><a href="#" class="hv-undrl hv-undrl--white">Вакансии</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#" class="hv-undrl hv-undrl--white">меню</a></li>
      <li><a href="#" class="hv-undrl hv-undrl--white">Трансляции</a></li>
      <li><a href="#" class="hv-undrl hv-undrl--white">Журнал</a></li>
      <li><a href="#" class="hv-undrl hv-undrl--white">контакты</a></li>
    </ul>
  </nav>

  <ul class="botmenu h3 xl:text-20 xl:leading-30 text-white">

    <li><a href="tel:+79959002190"
        class="text-20 leading-30 text-white uppercase font-bold hv-undrl hv-undrl--white active">+7 (995) 900-21-90</a>
    </li>

    <li>
      <span class="relative z-10">eng</span>
      <div class="submenu">
        <ul>
          <li><a href="#" class="hv-undrl hv-undrl--white">ru</a></li>
          <li><a href="#" class="hv-undrl hv-undrl--white">eng</a></li>
        </ul>
      </div>
    </li>

    <li class="sm:w-full"><button class="page-button sm:w-full" data-modal="#modal">Забронировать</button></li>

  </ul>

</div>