<div class="menu">
  <nav>
    <ul class="h3 text-white topmenu">
      <li><a href="#" class="hv-undrl hv-undrl--white active">Главная</a></li>
      <li>
        <a href="#" class="plus">О нас</a>
        <ul class="submenu">
          <li><a href="#" class="hv-undrl hv-undrl--white">О пабе</a></li>
          <li><a href="#" class="hv-undrl hv-undrl--white">События</a></li>
          <li><a href="#" class="hv-undrl hv-undrl--white">Акции</a></li>
          <li><a href="#" class="hv-undrl hv-undrl--white">услуги</a></li>
          <li><a href="#" class="hv-undrl hv-undrl--white">Вакансии</a></li>
        </ul>
      </li>
      <li><a href="#" class="hv-undrl hv-undrl--white">меню</a></li>
      <li><a href="#" class="hv-undrl hv-undrl--white">Трансляции</a></li>
      <li><a href="#" class="hv-undrl hv-undrl--white">Журнал</a></li>
      <li><a href="#" class="hv-undrl hv-undrl--white">контакты</a></li>
    </ul>
  </nav>

  <ul class="botmenu h3 text-white">

    <li><a href="tel:+79959002190"
        class="text-20 leading-30 text-white uppercase font-bold hv-undrl hv-undrl--white active">+7 (995) 900-21-90</a>
    </li>

    <li>
      <a href="#" class="relative z-10">eng</a>
      <ul class="submenu">
        <li><a href="#" class="hv-undrl hv-undrl--white">ru</a></li>
        <li><a href="#" class="hv-undrl hv-undrl--white">eng</a></li>
      </ul>
    </li>

    <li><button class="page-button">Забронировать</button></li>

  </ul>

</div>