<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    <!-- Preloader-->
    <div class="preloader" id="preloader">
        <div class="spin">
            <div class="lds-ring"><div></div><div></div><div></div><div class="logo">
              <img src="./assets/images/logo/logo.jpg" alt="">
            </div></div>
        </div>
    </div>
    <video class="fixed z-[100] top-0 left-0 w-full h-full bg-white transition-opacity duration-300 pointer-events-none" autoplay muted playsinline id="preloadvideo">
        <source src="./chelsi.mp4" type="video/mp4">
    </video>
    
    <!-- Sprites-->

    {{> sprite }}

    <div class="page">
        
        <!-- Header -->

        {{> header }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- Footer -->
        {{> footer }}

    </div>

    <!-- Order-modal -->
    {{> modal }}

        <!-- Feedback-modal -->
        {{> feedback }}

    <!-- JS -->
    <script src="assets/js/temp.js"></script>
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>